{
  "extends": ["react-app", "plugin:jsx-a11y/recommended"],
  "plugins": ["jsx-a11y"],
  "rules": {
    "eol-last": ["error", "always"],
    "object-curly-spacing": ["error", "always"],
    "space-before-function-paren": ["error", "never"],
    "no-trailing-spaces": "error",
    "indent": [
      2,
      2,
      {
        "SwitchCase": 1
      }
    ],
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true
      }
    ]
  }
}
  