@import "~global-scss/index.scss";


:local(.component) {
  width: 100vw;
  height: 100vh;
}

.slide-hero {
  position: fixed;

  // ~> IS HIDDEN
  opacity: 0;
  transition: opacity 300ms;

  // ~> IS VISIBLE
  &.is-visible {
    transition: opacity 700ms;
    opacity: 1;
  }
}